body {
    background-color: rgb(167, 27, 202);
}

.box {
    background-color: rgb(138, 19, 168);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 30%;
    flex-wrap: wrap;
    align-self: center;

}

.one {
    background-color: rgb(116, 112, 112);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
}

.two {
    background-color: rgb(116, 112, 112);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
}

.three {
    background-color: rgb(116, 112, 112);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
}

.ifr {
    display: flex;
    justify-content: center;
    align-items: center;
}
